/* 全体 */
#popup_box{
    width: 250px;
}

/* ジャンプボタン */
#jp_lec_can_button{
    width: 100%;
    outline: none;
}

#dotay_info_title{
    margin: auto;
}
#today_str{
    display: inline-block;
}

/* 本日の情報 ヘッダー */
#cancel_table .tab_state{
    width: 20px;
    text-align: center;
    vertical-align: middle;
}
#cancel_table .tab_time{
    width: 50px;
}
#cancel_table .tab_sub{
    width: 130px;
    text-align: center;
    vertical-align: middle;
}
#cancel_table .tab_teach{
    width: 65px;
    text-align: center;
    vertical-align: middle;
}

/* 本日の情報 内容 */
#cancel_table_tr, .can{
    /* 休講行 */
    background-color: #afeeee;
}
#cancel_table_tr, .sup{
    /* 補講行 */
    background-color: #f93;
}
.tab_state_d{
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}
.tab_time_d{
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}
.tab_sub_d{
    text-align: center;
    vertical-align: middle;
}
.tab_teach_d{
    text-align: center;
    vertical-align: middle;
}
#tab_none{
    text-align: center;
    vertical-align: middle;
}

/* 設定部 */
#button_save{
    margin-left: auto;
}
